.odd-number {

  background-color: yellow;
}

#second-number {
  color: blue;
  font-size: 36px;

}

.third-number {
  font-size: 24px;
}

#fourth {
  background-color: red;
  font-weight: bold;
}

.fourth-number {

  font-size: 24px;
}